<footer>
  <ul>
    <% if params[:meal_id].nil? && params[:id].nil? %>
      <li><%= render "shared/btn_landing_page_footer" %></li>
    <% end %>
    <li><%= render "shared/btn_new_meal_footer" %></li>
    <% unless params[:meal_id].nil? && params[:id].nil? %>
      <li><%= render partial:"shared/btn_add_footer", locals:{meal: @meal} %></li>
      <li><%= render partial:"shared/btn_meal_footer", locals:{meal: @meal} %></li>
<!--
      <li>
        <p><%#= link_to "#" do %>
          <%# <i class="fa-solid fa-star"></i> %>
        <%# end %></p>
      </li>
-->
    <% end %>
    <% if params[:meal_id].nil? && params[:id].nil? && user_signed_in? %>
      <li><%= render partial:"shared/btn_last_meal_footer", locals: {last_meal: @last_meal} %></li>
    <% end %>
    <li><%= render "shared/btn_user_footer" %></li>
  </ul>
</footer>
