<div class="container__form">

  <%= simple_form_for [meal, food] do |f| %>
      <%= f.input :name,
          input_html: {data: {products_target:"productName"}}
      %>
      <%= f.input :code,
          input_html: {data: {products_target:"productCode"}}
      %>
    <%= f.input :quantity, placeholder:"(g)", required: true %>
    <%= f.submit "Add this product"%>
  <% end %>

</div>
