<div class="container">
  <div class="container__page" data-controller="products">
    <%#= render "shared/btn_home" %>

    <h2 data-products-target="mainTitle">Selectionne ton produit dans la liste (pense à scroller) 👇</h2>

    <h4 data-action="click->products#display" data-products-target="researchTrigger">Affine ta recherche</h4>
    <%= render partial:"shared/form_new_callback", locals: {meal: @meal, food: @food} %>

    <div class="results">
      <ul>
        <% @products.each do |p| %>
          <li data-action="click->products#addInfo" data-products-target="product" data-product-name="<%= p.product_name %>" data-product-code="<%= p.code %>">
            <%= image_tag p.image_small_url, alt:"food image", data: {product_name:"#{p.product_name}", product_code:"#{p.code}"} %>
            <p data-product-name="<%= p.product_name %>" data-product-code="<%= p.code %>"><%= p.product_name %></p></li>
        <% end %>
      </ul>
    </div>

    <%= render partial:"shared/form_edit", locals: {meal: @meal, food: @food} %>
  </div>
</div>
