<div class="container container__show">
  <%#= render "shared/btn_home" %>

  <%= image_tag @product_image, alt: "food image"  %>

  <h1>Voici les calories contenues dans cet ingrédient</h1>

  <ul>
    <li>Produit: <%= @food.name %></li>
    <li>Calories (pour 100g) : <%= @food.calories %>kcal</li>
    <li>Calories consommées : <%= @actual_calories %> kcal</li>
  </ul>

  <%= render partial:"shared/btn_add", locals: {meal: @meal} %>
  <%= render partial:"shared/btn_meal", locals: {meal: @meal} %>

</div>
