<div class="container__show">
  <%= render "shared/btn_home" %>

  <h1>You daily calories</h1>

  <p>Product: <%= @food.name %></p>
  <p>Calories (per 100g): <%= @food.calories %>kcal</p>
  <p>Your meal worth <%= @actual_calories %> kcal</p>

  <%= render partial:"shared/btn_add", locals: {meal: @meal} %>
  <%= render partial:"shared/btn_meal", locals: {meal: @meal} %>

</div>
