<!DOCTYPE html>
<html>
  <head>
    <title>Defcal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://api.fontshare.com/v2/css?f[]=telma@900,300,700,500,400&f[]=kalam@700,400,300&f[]=bespoke-slab@700,701,400,401,301,501,300,801,500,800&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <!-- Hotjar Tracking Code for DefCal -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:3352202,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
  </head>

  <% if params[:controller] == "meals" && params[:action] == "index" %>
    <body class="overflow-hidden">
  <% else %>
    <body>
  <% end %>

        <%= render "shared/header" %>

      <%= yield %>
        <%= render "shared/footer" %>
    </body>
</html>
